body {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
}

div {
    /* border: 1px solid red; */
    margin: 0px;
}

.main {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
}

.nav {
    border: 3px solid yellow;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.nav-logo {
    width: 150px;
    height: 150px;
}

.nav__iconlist {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.nav__iconlist .icon {
    font-size: 1.5rem;
}

.nav__iconlist-item {
    margin: 20px 10px
}

.nav__link {
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: none;
    margin: 0 10px;
    color: #33cc66;
}

/* ------- Nav News ------ */

.nav__news {
    margin: 0;
}

.nav__news-item {
    margin: 30px 0 10px;
}

.nav__news-title {
    border-bottom: 1px dashed #ccc;
}

.nav__news-button {
    display: block;
    text-align: center;
    font-weight: 200;
    border: 2px solid #ccc;
    margin: 10px 20px;
    padding: 8px 20px;
    color: #33cc66;
    border-radius: 5px;
}

.nav__news-text {
    margin: 10px 0;
    line-height: 1.5rem;
    font-style: italic;
}

/* -------------- Content -------------- */

.content {
    border: 3px solid green;
    flex-basis: 70%;
}

/* -- Content - Carousel -- */

.carousel {
    display: flex;
    flex-direction: column;
}

/*
.carousel__target {
    background: #00FF00 url(../images/week2/foodsense.jpg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
*/

.carousel__target-flag {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.flag__title {
    display: inline-block;
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 1rem;
    font-style: italic;
}

.flag__subtitle {
    display: inline-block;
    align-self: flex-start;
    color: #fff;
    background: #000;
    padding: 8px 20px;
}

.carousel__target-image {
    width: 100%
}

/* .carousel__target-flag {
    z-index: 2;
    position: absolute;
    top: 50px;
} */

.carousel__menu {
    display: flex;
    flex-direction: row;
    color: #34ac98;
}

.carsousel__menu-item {
    background: #eff8f7;
}

.carsousel__menu-item:hover {
    background: #d9efec;
}

.menu-item {
    display: block;
    margin: 0 10px;
}

.menu-title {
    font-size: 1.2rem;
    margin: 20px 10px 10px;
}

.menu-desc {
    font-size: .8rem;
}

/* ---  Content - Sign up --- */

.signup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px dashed #ccc;
    margin: 20px 0;
}

.signup__icon {
    display: inline-block;
    flex-basis: 10%;
    margin: 10px 30px;
}

.signup__icon-mail {
    font-size: 4rem;
}

.signup__desc {
    display: inline-block;
    margin: 0 auto;
    line-height: 1.5rem;
    font-style: italic;
    font-weight: 500;
}

/* ---  Content - Aritical --- */

.article {
    display: flex;
    flex-direction: row;
}

.article__item {
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
    margin: 0 10px;
}

.article__item-image {
    border: 1px solid #ccc;
    padding: 5px;
}

.article__item-image>img {
    width: 100%;
}

.article__item-title {
    color: #34ac98;
    font-size: 1.25rem;
    font-weight: 500;
}

.article__item-footer {
    margin: 10px 0;
}

.article__footer-date {
    color: gray;
    font-weight: bold;
}

.article__footer-link {
    color: #34ac98;
    text-decoration: none;
    border-bottom: 1px dashed #ccc;
}

.article__footer-symbol {
    font-size: .6rem;
    font-weight: bold;
}

/* ------------------ Policy ------------------ */

.policy {
    border: 3px solid blue;
}

.content>div {
    min-width: auto;
}

@media (max-width: 512px) {
    .main {
        flex-direction: column;
    }
    .nav {
        border: 3px solid darkorange;
        flex-basis: auto;
    }
    .content {
        flex-basis: auto;
        border: 3px solid purple;
    }
}

/*

block-name__elementname-modifier


# BEM的命名规矩很容易记：
block-name__element-name--modifier-name，
模块名__元素名--修饰器名

# BEM的命名中包含了模块名，长长的命名会让HTML标签会显得臃肿。

- 其实每个使用BEM的开发团队多多少少会改变其命名规范，比如Instagram团队使用的驼峰式:
.blockName-elementName--modifierName {  }

- 还有单下划线：
.block-name_element-name--modifierName { }

- 还有修饰器名用单横线连接：
.blockName__elementName-modifierName {  }

*/