body {
    margin: 0;
}

div {
    min-height: 100px;
    border: 1px solid red;
    margin: 20px;
}

.main {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
}

.nav {
    border: 3px solid yellow;
    flex-basis: 20%;
}

.content {
    border: 3px solid green;
    flex-basis: 80%;
}

.policy {
    border: 3px solid blue;
}

.content>div {
    min-width: auto;
}

@media (max-width: 512px) {
    .main {
        flex-direction: column;
    }
    .nav {
        border: 3px solid darkorange;
        flex-basis: auto;
    }
    .content {
        flex-basis: auto;
        border: 3px solid purple;
    }
}